#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#wrapper {
  margin: 60px;
  border: 1px solid #052c65;
  border-radius: 10px;
  padding: 40px;
}
#wrapper .form-label {
  text-align: left;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

#card-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #052c65;
  border-radius: 5px;
}
